<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>sipgate TeDIO</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("img/favicon.png")">
  <link rel="stylesheet" href="@routes.Assets.versioned("css/app.css")">
  <link rel="stylesheet" href="lib/angular-chart.js/angular-chart.css">
  <script data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>

    
    
</head>
<body ng-controller='resultsCtrl'>

    <div class="container">
        <h1>sipgate TeDIO</h1>
        
        Wer ist Dein Favorit? Die Leitungen sind jetzt geschaltet. Ruf jetzt an!
    
        <div class="results-chart">
            <canvas id="bar" class="chart chart-bar" data="result.ted"
                options="{ 'animation': false }" 
                colours="[{
                    fillColor: 'rgb(37, 207, 245)',
                    strokeColor: 'rgb(19, 155, 186)',
                    highlightFill: 'rgb(255, 181, 20)',
                    highlightStroke: 'rgb(242, 157, 0)'
                }]";
                labels="labels"></canvas>
        </div>
    </div>
</body>
</html>